.modal_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}

.modal_content {
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--main);
  width: 60%;
  height: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.close_icon {
  position: absolute;
  top: 0;
  right: 1rem;
}

.close_icon:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent);
}
