
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,0.5) 0%, rgba(253,187,45,0.5) 100%);
  display: grid;
  place-items: center;
  z-index: 1;
}

.hidden {
  opacity: 0;
  z-index: -3;
}


.modal__wrapper {
  position: relative;
  width: 500px;
  height: 400px;
  opacity: 1;
  background-color: white;
  border: 10px solid var(--blue);
  padding: 10px;
}

.close {
  position: absolute;
  right: 10px;
}

.close:hover {
  cursor: pointer;
  text-decoration: underline;
}

.modal__content {
  margin-top: 20%;
  font-size: 36px;
  display: grid;
  place-items: center;
  font-weight: 700;
  color: var(--lila);
}

.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  opacity: 0.5;
  background-image: linear-gradient(-45deg, var(--lila) 0%, var(--lila)  25%, var(--lila) 51%, var(--blue) 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}