.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list_wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;
}

.item {
  width: 100%;
  text-align: justify;
  background-color: var(--main);
  color: white;
  border: 1px solid var(--accent2);
  border-radius: 1rem;
  padding: 0 1rem;
}
